<div class="card" style="padding: 20px">
  <form class="form container-fluid form-container" *ngIf="!loading" >
    <mat-form-field>
      <input matInput type="text"  id="product_title"
        placeholder="Nombre del producto"
        [ngModelOptions]="{standalone: true}"
        required [(ngModel)]="product.name"  />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" id="product_description"
        placeholder="Descripción"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="product.description"  />
    </mat-form-field>

    <mat-form-field>
       <input matInput placeholder="Precio"
           type="number"
           class="example-right-align"
           id="product_price"
           [ngModelOptions]="{standalone: true}"
           [(ngModel)]="product.price"/>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number"
          placeholder="Precio"

    </mat-form-field>
  </form>

  <button mat-raised-button  (click)="createProduct()" color="primary">
    Crear Producto
  </button>
</div>
