<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">
      <span class="icon">Bigwave</span>
    </a>
    <!-- Categorías -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="hidden-xs">
      <mat-icon aria-label="">view_module</mat-icon>
      CATEGORÍAS
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Desarrollo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Desarrollo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Desarrollo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Desarrollo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Desarrollo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Desarrollo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Desarrollo</span>
      </button>
    </mat-menu>
    <!-- Categorías -->

    <span class="spacer"></span>
    <button mat-button [routerLink]="['/profile']" [queryParams]="{tab:'pymes'}" *ngIf="this.user.id" class="hidden-xs">CREA TU NEGOCIO ONLINE</button>
    <button mat-button *ngIf="!this.user.id" (click)="openLoginDialog()" class="hidden-xs">CREA TU NEGOCIO ONLINE</button>

    <button mat-icon-button *ngIf="this.user.id" class="hidden-xs" [routerLink]="['/profile']" [queryParams]="{tab:'favorites'}">
      <mat-icon aria-label="">favorite</mat-icon>
    </button>

    <button mat-icon-button class="hidden-xs">
      <mat-icon aria-label="">shopping_cart</mat-icon>
    </button>

    <div *ngIf="!this.user.id" class="hidden-xs">
      <div class="button-row">
        <button mat-raised-button color="accent" (click)="openLoginDialog()" style="margin: 0 5px">INICIA SESIÓN</button>
        <button mat-raised-button color="primary" (click)="openRegisterDialog()">REGISTRATE</button>
      </div>
    </div>

    <div *ngIf="this.user.id">
      <button mat-icon-button [matMenuTriggerFor]="notifications">
        <mat-icon>notifications</mat-icon>
      </button>

      <!-- Lista de notificaciones-->
      <mat-menu #notifications="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>notifications</span>
        </button>
      </mat-menu>
      <!-- Lista de notificaciones-->

      <button mat-icon-button [matMenuTriggerFor]="menu" class="hidden-xs">
        <img class="user-avatar" src="assets/imgs/profile.jpg" alt="...">
        <!-- <mat-icon>more_vert</mat-icon> -->
      </button>

      <button mat-icon-button class="only-xs">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="this.user.id" [routerLink]="['/profile']">
          <mat-icon>account_circle</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>voicemail</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
