<div class="card" style="padding: 20px">
  <form class="form container-fluid form-container" *ngIf="!loading" >
    <mat-form-field>
      <input matInput type="text"  id="pyme_title"
        placeholder="Nombre de la tienda"
        [ngModelOptions]="{standalone: true}"
        required [(ngModel)]="user.name"  />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" id="pyme_description"
        placeholder="Descripción"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="user.description"  />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="email"  id="pyme_email"
          placeholder="Contacto"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="user.email"  />
    </mat-form-field>
  </form>

  <button mat-raised-button  (click)="createPyme()" color="primary">
      Crear Tienda
  </button>
</div>
