
<div class="container">
  
    <br/>
    
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " [ngClass]="{'active': tabActive=='profile'}" (click)="selectTab('profile')">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': tabActive=='independent'}" (click)="selectTab('independent')" >Perfil Independiente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': tabActive=='pymes'}" (click)="selectTab('pymes')" >Perfil Pymes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': tabActive=='seller'}" (click)="selectTab('seller')" >Perfil Seller</a>
      </li>
    </ul>
    
    <div *ngIf="tabActive=='profile'">
      <br/>
      <h3>Perfil</h3>
      <div *ngFor="let error of errors">
        - {{error}}
      </div>
      <mat-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      
      <form class="form container-fluid form-container" *ngIf="!loading" >
        <mat-form-field>
          <input type="text" matInput id="p_fullname"
            placeholder="Ingrese el nombre" [ngModelOptions]="{standalone: true}"
            required [(ngModel)]="user.name" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput id="p_nickname"
            placeholder="Ingrese nombre de usuario" [ngModelOptions]="{standalone: true}"
            required [(ngModel)]="user.nickname" />
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput id="p_email"
            placeholder="Enter email" [ngModelOptions]="{standalone: true}"
            required [(ngModel)]="user.email" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput id="p_password"
            placeholder="Enter your password" [ngModelOptions]="{standalone: true}"
            required [(ngModel)]="user.current_password">
        </mat-form-field>
        <button (click)="changePass()" type="button" class="btn btn-primary">Cambiar Contraseña (NOT WORKING)</button><br/>
        <button (click)="updateUser()" type="submit" class="btn btn-success">Actualizar</button>
      </form>
    </div>
    <div *ngIf="tabActive=='pymes'">
      <app-pymes></app-pymes>
    </div>



</div>
