
<br/>
<div class="container">
  <div class="row">
      <h3>¿Olvido contraseña?</h3>
  </div>
  <div class="row">
    <div class="col-sm" >
      <div *ngFor="let error of errors">
          - {{error}}
        </div>
      <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email/Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Correo electrónico"
              [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
            <small id="emailHelp" class="form-text text-muted">Ingrese su correo: ejemplo@ejemplo.com y luego revise su correo electrónico para recuperar su contraseña</small>
          </div>
          
          <button type="submit" class="btn btn-primary" (click)="forgotPassStepOne()">Recuperar Contraseña</button>
        </form>
    </div>

  </div>
</div>
