<div class="card" style="padding: 20px">
  <form class="form container-fluid form-container" *ngIf="!loading" >
    <mat-form-field>
      <input matInput type="text"  id="seller_title"
        placeholder="Nombre del perfil"
        [ngModelOptions]="{standalone: true}"
        required [(ngModel)]="user.name"  />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" id="seller_description"
        placeholder="Descripción"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="user.description"  />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="email"  id="seller_email"
          placeholder="Correo"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="user.email"  />
    </mat-form-field>
  </form>

  <button mat-raised-button  (click)="createSeller()" color="primary">
      Crear
  </button>
</div>
